body {
    font-family: Arial, sans-serif;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
    margin: 10px;
}

.cat-info {
    margin: 20px 0;
}

p {
    font-size: 18px;
    color: #555;
}

span {
    font-weight: bold;
}

button {
    background-color: #0095ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    width: 150px;
}

button:hover {
    background-color: #005b9c;
}

.cat-info {
    background-color: #fefefe;
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-top: 10px solid hsl(205, 100%, 70%);
    border-left: 10px solid hsl(205, 100%, 60%);
    border-right: 10px solid hsl(205, 100%, 50%);
    border-bottom: 10px solid hsl(205, 100%, 40%);
    text-align: center;
}

.container-wrapper {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .container-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .cat-info {
        width: 90%;
    }
}